@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --primary-color: #5598fd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  background: var(--primary-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
}
img {
  width: 100%;
}
.wrapper {
  display: flex;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.sidebar {
  width: 30%;
  min-width: 250px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.815);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.sk{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  position: relative;
}
.search input {
  width: 100%;
  height: 40px;
  border: 1px solid #ced4da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 0 15px;
  font-size: 14px;
  color: #495057;
}
.search input:focus {
  outline: none;
  border: 1px solid var(--primary-color);
}
.search button {
  min-width: 40px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: var(--primary-color);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}
.search ul {
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  top: 40px;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.search ul li {
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
  text-transform: capitalize;
}
.search ul li:last-child {
  border-bottom: none;
}
.search ul li:hover {
  background-color: #f1f1f1;
}
.search ul li.active {
  background-color: #f1f1f1;
}
.weather-icon {
  aspect-ratio: 1;
  text-align: center;
  /* margin-top: 20px; */
  margin-bottom: 10px;
}
.weather-icon img {
  object-fit: contain;
}

.refresh:hover {
  color: #fff;
  background-color: #1a1a1a;
}

.temperature {
  display: flex;
}
.temperature #temp-field {
  font-size: 70px;
  font-weight: 100;
  line-height: 1;
}
.temperature span {
  font-size: 40px;
  margin-top: -10px;
  display: block;
}
.divider {
  width: 100%;
  height: 1px;
  background: #e9ecef;
  margin: 20px 0;
}
.condition-rain {
  font-size: 12px;
  text-transform: capitalize;
}

.condition-rain #rain {
  text-transform: none;
}

.condition-rain div {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}
.condition-rain div i {
  width: 20px;
}
.location {
  display: flex;
  align-items: center;
  font-size: 14px;
  gap: 10px;
  margin-top: 10px;
}
.main {
  width: 100%;
  min-width: 400px;
  padding: 20px 40px;
  background-color: #f6f6f8;
  position: relative;
  padding-bottom: 90px;
}

.main nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main nav .options {
  display: flex;
  gap: 20px;
  align-items: center;
}
.main nav .options button {
  border: none;
  background: none;
  font-size: 16px;
  font-weight: 600;
  color: #495057;
  cursor: pointer;
  text-transform: capitalize;
}
.main nav .options button.active {
  color: var(--primary-color);
}

.main nav .units button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #1a1a1a;
  background-color: #fff;
}
.main nav .units button.active {
  color: #fff;
  background-color: #1a1a1a;
}
#hourly-cards {
  display: none;
}

.main > .cards {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.main .cards {
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
}

.cards .card {
  /* width: 100px; */
  height: 130px;
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card h2 {
  font-size: 15px;
  font-weight: 600;
}
.card .card-icon {
  width: 50%;
  margin: 0 auto;
}
.night-temp {
  color: #9aa0a6;
}
.card .day-temp {
  font-size: 12px;
  display: flex;
  justify-content: center;
  display: flex;
}
.highlights {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  margin-top: 50px;
}
.highlights .heading {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
}

.highlights .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.card2 {
  /* width: 250px; */
  /* height: 150px; */
  border-radius: 20px;
  color: #1a1a1a;
  background-color: #fff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
.card2 .card-heading {
  color: #c2c2c2;
}

.card2 .content {
  margin-top: 20px;
  text-align: center;
}
.card2 .content p:first-child {
  text-align: center;
  font-size: 30px;
  display: inline-flex;
}
.card2 .content span {
  font-size: 30px;
  display: block;
}
.card2 .content p:nth-child(2) {
  font-size: 12px;
  margin-top: 20px;
  text-align: left;
}
.credits {
  text-align: center;
  font-size: 12px;
  color: #c2c2c2;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
} 

.flex {
  display: flex;
}

.ar{
  align-self: center;
  margin: auto 0 60px;
}

.arduino-web {
  background: #5598fd;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}

.arduino-web:hover {
  background: #00A4A6;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.arduino-web:active {
  transform: scale(0.98);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.arduinobody {
  background-image: url('https://cdn.pixabay.com/photo/2023/10/28/09/20/darling-8346954_1280.jpg');
  background-size: cover;         
  background-repeat: no-repeat;
  background-position: center;  
}

@media (max-width: 1200px) {
  .main > .cards {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 991px) {
  .main {
    padding: 20px;
    min-width: unset;
  }
  .main > .cards {
    grid-template-columns: repeat(5, 1fr);
  }
  .main > .cards .card {
    height: auto;
  }
  .sidebar {
    width: 100%;
  }
  .wrapper {
    flex-direction: column;
  }
  .weather-icon {
    max-width: 128px;
  }
  .ar {
    margin: 24px auto;
  }
  body {
    padding: 15px;
  }
  .credits {
    position: relative;
    bottom: 0;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .highlights .cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .main > .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 578px) {
  .highlights .cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .main > .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}